
#current_booking, #booking_history{
    border : 2px solid rgb(20, 91, 233) !important;
}

#booking_history{
    display: none;
}

.checked{
    color: orange;
}

.fa{
    width:35px !important;
    font-size: xx-large;
}