{% extends "user/base.html" %}
{% load static %}
{% block css %}
    <link href="{% static 'css/booking_list.css' %}" rel="stylesheet">
{% endblock %}
{% block navigation %}
    <ul>
        <li><a class="nav-link scrollto " href="/property/home/">Home</a></li>
        <li><a class="nav-link scrollto active" href="/property/booking/">Bookings</a></li>
        <li><a class="nav-link scrollto " href="/property/request/">Requests</a></li>
        {% if not request.user.is_authenticated %}
            {% block login_signup %}
                <li><a class="getstarted scrollto" href="/user/login/">Login</a></li>
                <li><a class="getstarted scrollto post_property" href="/user/login/">Post Property</a></li>
            {% endblock %}
        {% elif request.user.user_type == "owner" %}
            <li><a class="getstarted scrollto post_property" href="/property/post/">Post Property</a></li>
        {% endif %}
        {% if request.user.is_authenticated %}
            <img class="rounded-circle shadow-4-strong {% if request.user.user_type == "owner" %} owner_profile_pic {% else %} renter_profile_pic {% endif %}" alt="not available" src="{% if user.profile_picture %} {{user.profile_picture.url}} {% else %} {% static 'img/avatar.png' %} {% endif %}" />
        {% endif %}
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
        
{% endblock %}

{% block content %}
<link href="{% static 'css/booking_list.css' %}" rel="stylesheet">
    <div style='display: flex;justify-content: center;align-items: center;padding:10px;'>
        <button id='current_button' style="color:blue">current</button>
        <button id='history_button' style='margin-left:10px;'>history</button>
    </div>
    
    <div id="current_booking">
        {% include "property/current_booking.html" %} 
    </div>
    <div id='booking_history'>
        {% include "property/current_booking.html" with booking_list=booking_history_list booking_history='true' %}
    </div>
    <script src="{% static 'js/booking_list.js' %}"></script>
{% endblock %}