{% extends "user/base.html" %}
{% block navigation %}
<ul>
    <li><a class="nav-link scrollto " href="/property/home/">Home</a></li>
    <li><a class="nav-link scrollto" href="/property/booking/">Bookings</a></li>
    <li><a class="nav-link scrollto" href="/property/request/">Requests</a></li>
</ul>
<i class="bi bi-list mobile-nav-toggle"></i>
{% endblock %}
{% block content %}
    {% block post_property %}
        <h1 style="align-self: center;">
            Post Property
        </h1>
        <form action="" method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            {{property_form.as_p}}
            {{proprty_image_form.as_p}}
            {{address_form.as_p}}
            <input type="submit" value="Post">
        </form>
    {% endblock %}
{% endblock %}