{% extends "user/base.html" %}
{% block request %}
    <li><a class="nav-link scrollto active" href="/property/request/">Requests</a></li>
{% endblock %}
{% block content %}
    <div style="border: 2px solid yellow;width: 100%;padding: 50px 5px 50px 5px;display: flex;justify-content: center;align-items: center;">
        <form method='post'>
            {% csrf_token %}
            <h3>Update property request</h3>
            {{form.as_p}}
            <a href="{% url 'property_requests' %}"><input type='button' value='cancel'></a>
            <input type='submit' value='update'>
        </form>
    </div>
{% endblock %}