{% extends "user/base.html" %}
{% load static %}
{% block content %}
    <div style="display: flex;justify-content: center;align-items: center;margin-top:80px;">
        <form method='post' style="width:30%;">
            <h3>Change password</h3>
            {% csrf_token %}
            {{form.errors}}
            <div class="form-outline mb-4">
                <input type="password" id="loginPassword" name="old_password" class="form-control" />
                <label class="form-label" for="loginPassword">Password</label>
            </div>
            <div class="form-outline mb-4">
                <input type="password" id="loginPassword1" name="new_password1" class="form-control" />
                <label class="form-label" for="loginPassword1">Password</label>
            </div> 
            <div class="form-outline mb-4">
                <input type="password" id="loginPassword2" name="new_password2" class="form-control" />
                <label class="form-label" for="loginPassword2">Password</label>
            </div> 
            <input type='submit' value="change password">
        </form>
    </div>
{% endblock %}