{% extends "user/login_signup.html" %}
{% load static %}
{% block title_content %}
    Rentify - Signup
{% endblock %}

{% block login_signup %}
    <li><a class="getstarted scrollto" href="/user/login/">Login</a></li>
{% endblock %}
{% block login_signup_content %}
        <form id="signupform" method="post" action="{% url 'signup' %}" enctype='multipart/form-data'>
            {% csrf_token %}
            {{address_form.as_p}}
            {{profile_form.as_p}}
            
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>
        </form>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'js/signup.js' %}"></script>
{% endblock %}
