{% extends "user/base.html" %}
{% load static %}
{% load mathfilters %}
{% block bill %}
    <li><a class="nav-link scrollto active" href="{% url 'all_bills' %}">Bills</a></li>
    {% endblock %}

{% block css %}
    <link href="{% static 'css/pay_bill.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class='main'>
        <div class='payment_div' >
            
            <form class="payment_form">
                Total payable amount : {{payment_form.amount.value}}
                {{payment_form.as_p}}
                <input id="payment_button" type="button" value="Pay">
            </form>
        </div>
    </div>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe('{{ stripe_publishable_key }}');
        var checkoutButton = document.getElementById('payment_button');
        var idInput = document.getElementById('id_amount'); 
        var bill_id = '{{ bill_id }}' ;

        checkoutButton.addEventListener('click', function () {

            // Create a new Checkout Session using the server-side endpoint you
            // created in step 3.
            paying_amount = idInput.value

            fetch("{% url 'api_checkout_session' bill_id=bill_id  %}", {
                method: 'POST',
                body: JSON.stringify(
                    { paying_amount: paying_amount
                        }
                )
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    return stripe.redirectToCheckout({ sessionId: session.sessionId });
                })
                .then(function (result) {
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using `error.message`.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error('Error:', error);
                });
        });
    </script>
    
{% endblock %}